<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-5">
            <div class="container"></div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex">
            <div class="w-50">
                <span>&copy; @DateTime.Now.Year - Shetu Industry Company Ltd.</span>
            </div>
            <div class="w-50">
                <span style="float:right">Powered By <a href="https://technoration.com" target="_blank">Technoration Limited</a></span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var successMeessage = "@TempData["InfoMessage"]";
            var errorMessage = "@TempData["ErrorMessage"]";
            if (successMeessage && successMeessage != "") {
                $("#SuccessNotificationMSG").text(successMeessage);
            }
            if (errorMessage && errorMessage != "") {
                $("#ErrorNotificationMSG").text(errorMessage);
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
